/*!
 * SmartWizard v4.3.x
 * jQuery Wizard Plugin
 * http://www.techlaboratory.net/smartwizard
 *
 * Created by Dipu Raj
 * http://dipuraj.me
 *
 * Licensed under the terms of MIT License
 * https://github.com/techlab/SmartWizard/blob/master/LICENSE
 */

.form-control, .alert, #smartwizard{
    border-radius: 0 !important;

}
@media only screen and (min-width: 800px) {
  .sw-btn-next{
        margin-top:51px !important;
    }
}

@media only screen and (max-width: 800px) {
  .sw-btn-next{
        margin-top:-20px !important;
    }
    .user-input-wrp{
        width:100% !important;
    }
    h4{
        font-size:22px !important;
    }
    h3{
        font-size:18px !important;   
    }
    .price{
        font-size:22px !important;
    }
}

.price{
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #905839;
    font-size: 34px;
    line-height: 1;
}

.btn-toolbar{
    background-color: white !important;
    display: none;
}
 .user-input-wrp {
    position: relative;
    width: 45%;
    margin-right: 2%;
    margin-left: 20px;
    margin-top:20px;
}
.user-input-wrp .inputText{
    width: 100%;
    outline: none;
    font-size:14px !important;
    border:none;
    border-bottom: 1px solid #777;
    box-shadow: none !important;
}
.user-input-wrp .inputText:focus{
    border-color: #905839 !important;
    border-width: medium medium 1px;
}
.user-input-wrp .floating-label {
    position: absolute;
    pointer-events: none;
    top: 18px;
    left: 1px;
    transition: 0.2s ease all;
    color:gray;
}
.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label{
    top: 0px;
    left: 1px;
    font-size: 13px;
    opacity: 1;
    color:gray;
}


.sw-btn-next{
    background-color: #ffbe28;
    border:none;
    border-radius: 0;
    color: #000;
    padding: 15px 20px;
    font-weight: 500;
}

.sw-btn-next:hover{
    background-color:#000;
    color:#fff;
}

.sw-btn-prev{
    background-color: #905839;
    border:none;
    border-radius: 0;
    color: #fff;
    padding: 15px 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.sw-btn-pay{
    background-color: #ffbe28;
    border:none;
    border-radius: 0;
    color: #000;
    padding: 15px 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.sw-btn-pay:hover{
    background-color:#000;
    color:#fff;
}

.btn-secondary.disabled, .btn-secondary:disabled{
    background-color: #ffbe28 !important;
    border:none;
    border-radius: 0;
    color: #000;
}

.sw-btn-prev:hover{
    background-color: black;
    color:#fff;
}

/* SmartWizard Theme: Arrows */
.sw-theme-arrows {
    border-radius: 5px;
    border: 1px solid #ddd;
}

.sw-theme-arrows > .sw-container {
    min-height: 200px;
}

.sw-theme-arrows .step-content {
    padding: 0 10px;
    border: 0px solid #D4D4D4;
    background-color: #FFF;
    text-align: left;
}

.sw-theme-arrows .sw-toolbar {
    padding: 10px;
    margin-bottom: 0 !important;
}

.sw-theme-arrows > .sw-toolbar-top {
}

.sw-theme-arrows > .sw-toolbar-bottom {
}

.sw-theme-arrows > ul.step-anchor {
    border: 0;
    border-bottom: 1px solid #ddd;
    padding: 0px;
    background: #f5f5f5;
    border-radius: 0;
    border-top-right-radius: 5px;
    list-style: none;
    overflow: hidden;
}

.sw-theme-arrows > ul.step-anchor li+li:before {
    padding: 0;
}

.sw-theme-arrows > ul.step-anchor > li {
}

.sw-theme-arrows > ul.step-anchor > li > a, .sw-theme-arrows > ul.step-anchor > li > a:hover {
    color: #bbb;
    text-decoration: none;
    padding: 10px 0 10px 45px;
    position: relative;
    display: block;
    border: 0 !important;
    border-radius: 0;
    outline-style: none;
    background: #f5f5f5;
}

.sw-theme-arrows > ul.step-anchor > li > a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #f5f5f5;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.sw-theme-arrows > ul.step-anchor > li > a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid #ddd;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.sw-theme-arrows > ul.step-anchor > li:first-child > a {
    padding-left: 15px;
}

.sw-theme-arrows > ul.step-anchor > li > a:hover {
    color: #bbb;
    text-decoration: none;
    outline-style: none;
    background: #f5f5f5;
    border-color: #f5f5f5;
}

.sw-theme-arrows > ul.step-anchor > li > a:hover:after {
    border-left-color: #f5f5f5;
}

.sw-theme-arrows > ul.step-anchor > li > a small {
}

.sw-theme-arrows > ul.step-anchor > li.clickable > a:hover {
    color: #4285F4 !important;
    background: #46b8da !important;
}

.sw-theme-arrows > ul.step-anchor > li.active > a {
    border-color: #905839 !important;
    color: #fff !important;
    background: #905839 !important;
}

.sw-theme-arrows > ul.step-anchor > li.active > a:after {
    border-left: 30px solid #905839  !important;
}

.sw-theme-arrows > ul.step-anchor > li.done > a {
    border-color: #C89D85 !important;
 /*  #5cb85c */
    color: #fff !important;
    background: #C89D85 !important;
}

.sw-theme-arrows > ul.step-anchor > li.done > a:after {
    border-left: 30px solid #C89D85;
 /* c3e6cb */;
}

.sw-theme-arrows > ul.step-anchor > li.danger > a {
    border-color: #C89D85 !important;
    color: #fff !important;
    background: #C89D85 !important;
}

.sw-theme-arrows > ul.step-anchor > li.danger > a:after {
    border-left: 30px solid #d9534f !important;
}

.sw-theme-arrows > ul.step-anchor > li.disabled > a, .sw-theme-arrows > ul.step-anchor > li.disabled > a:hover {
    color: #eee !important;
}



/* Loader Custom Style */
.sw-theme-arrows::before {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #5cb85c;
}





.cssload-squares{
    position:relative;
    display:block;
    margin: 138px auto;
    width:151px;
}
    
.cssload-squares, .cssload-squares * {
    box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
}

.cssload-squares span {
    display: inline-block;
    height: 21px;
    width: 21px;
    background: rgba(144,87,57,0.98);
    border-radius: 0px;
}

.cssload-squares span:nth-child(1) {
    animation: rotateY 2.8s 0.205s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
        -o-animation: rotateY 2.8s 0.205s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
        -ms-animation: rotateY 2.8s 0.205s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
        -webkit-animation: rotateY 2.8s 0.205s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
        -moz-animation: rotateY 2.8s 0.205s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
}
.cssload-squares span:nth-child(2) {
    animation: rotateY 2.8s 0.42s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
        -o-animation: rotateY 2.8s 0.42s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
        -ms-animation: rotateY 2.8s 0.42s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
        -webkit-animation: rotateY 2.8s 0.42s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
        -moz-animation: rotateY 2.8s 0.42s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
}
.cssload-squares span:nth-child(3) {
    animation: rotateY 2.8s 0.625s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
        -o-animation: rotateY 2.8s 0.625s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
        -ms-animation: rotateY 2.8s 0.625s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
        -webkit-animation: rotateY 2.8s 0.625s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
        -moz-animation: rotateY 2.8s 0.625s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
}
.cssload-squares span:nth-child(4) {
    animation: rotateY 2.8s 0.84s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
        -o-animation: rotateY 2.8s 0.84s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
        -ms-animation: rotateY 2.8s 0.84s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
        -webkit-animation: rotateY 2.8s 0.84s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
        -moz-animation: rotateY 2.8s 0.84s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
}
.cssload-squares span:nth-child(5) {
    animation: rotateY 2.8s 1.045s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
        -o-animation: rotateY 2.8s 1.045s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
        -ms-animation: rotateY 2.8s 1.045s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
        -webkit-animation: rotateY 2.8s 1.045s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
        -moz-animation: rotateY 2.8s 1.045s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
}



@keyframes rotateY {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(90deg);
        background: rgba(209,183,170,0.98);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@-o-keyframes rotateY {
    0% {
        -o-transform: rotateY(0deg);
    }
    50% {
        -o-transform: rotateY(90deg);
        background: rgba(209,183,170,0.98);
    }
    100% {
        -o-transform: rotateY(0deg);
    }
}

@-ms-keyframes rotateY {
    0% {
        -ms-transform: rotateY(0deg);
    }
    50% {
        -ms-transform: rotateY(90deg);
        background: rgba(209,183,170,0.98);
    }
    100% {
        -ms-transform: rotateY(0deg);
    }
}

@-webkit-keyframes rotateY {
    0% {
        -webkit-transform: rotateY(0deg);
    }
    50% {
        -webkit-transform: rotateY(90deg);
        background: rgba(209,183,170,0.98);
    }
    100% {
        -webkit-transform: rotateY(0deg);
    }
}

@-moz-keyframes rotateY {
    0% {
        -moz-transform: rotateY(0deg);
    }
    50% {
        -moz-transform: rotateY(90deg);
        background: rgba(209,183,170,0.98);
    }
    100% {
        -moz-transform: rotateY(0deg);
    }
}
